<!--Proyectos-->
<h2 clas="title-experiencia">Proyectos
    <a  mhref="" class="" type="button" data-bs-toggle="modal" data-bs-target="#proyectoplusModal"><i class="fa-solid fa-square-plus fa-md plus-icon"></i></a>
</h2>  
<hr>
<section id="Proyectos" class="proyectos">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <app-proyectocarousel></app-proyectocarousel>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </section>
    <app-proyectoplusmodal></app-proyectoplusmodal>
    <app-proyectomodal></app-proyectomodal>
    <app-proyectodeletemodal></app-proyectodeletemodal>
