 <!--Redes Sociales-->
 <ul class="social-icons">
    <li><a href="" class="social-icon"><i class="fa-solid fa-envelope fa-2xl"></i></a></li>
    <li><a href="" class="social-icon"><i class="fa-brands fa-square-github fa-2xl"></i></a></li>
    <li><a href="" class="social-icon"><i class="fa-brands fa-square-facebook fa-2xl"></i></a></li>
    <li><a href="" class="social-icon"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
    <li><a href="" class="social-icon"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
    <!--Button login-->
    <li><a href="" class="social-icon" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span style="color: rgb(255, 255, 255);" ><i class="fa-solid fa-right-to-bracket fa-2xl"></i></span></a></li>
</ul> 
