<!--Modal Habilidades: hardskills-->
<div class="modal fade" id="hardskillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="hardskillModal">Habilidad</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Habilidad Dura/Hard Skill</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Conocimiento tecnico">
            </div>
            <div class="mb-3">
                <label for="customRange3" class="form-label">Rango</label>
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>