<!--Modal Redes Sociales-->
<div class="modal fade" id="socialesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="socialesModal">Redes Sociales</h1>
          <div id="emailHelp" class="form-text">Selecciona la Red social</div>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleInputEmail1" class="form-label text-white">Correo Electronico</label>
                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                  </div>
              </form>   
              <form>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleInputEmail1" class="form-label text-white">GitHub</label>
                  </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="https://github.com/name">
                </div>
              </form> 
              <form>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleInputEmail1" class="form-label text-white">Facebook</label>
                  </div>
                <div class="mb-3">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre de usuario">
                </div>
              </form> 
              <form>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleInputEmail1" class="form-label text-white">LinkedIn</label>
                  </div>
                <div class="mb-3">
                     <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre de usuario">
                </div>
              </form> 
              <form>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label for="exampleInputEmail1" class="form-label text-white">Instagram</label>
                  </div>
                <div class="mb-3">
                     <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@nombre de usuario">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>