<!--Experiencia-->
<h2 clas="title-experiencia">Experiencia
  <app-botonplusexperiencia></app-botonplusexperiencia>
</h2>
<hr>
<!-- Cards-->
<section id="Experiencia" class="about">
  <div class="container text-center">
      <div class="row justify">   
        <app-cardexperiencia></app-cardexperiencia>
        </div>
      </div>
</section>
<app-experienciamodal></app-experienciamodal>
<app-experienciadeletemodal></app-experienciadeletemodal>
<app-experienciaplusmodal></app-experienciaplusmodal>