<!--Habilidades-->
<h2 clas="title-experiencia">Habilidades
  <app-botonplushabilidad></app-botonplushabilidad>
</h2>
<hr>
<section id="Habilidades" class="habilidades">
<div class="container-center text-white">  
  <app-cardhabilidad></app-cardhabilidad>
</div>
</section>
<app-habilidadplusmodal></app-habilidadplusmodal>
<app-habilidadharddeletemodal></app-habilidadharddeletemodal>
<app-habilidadhardmodal></app-habilidadhardmodal>
<app-habilidadsoftdeletemodal></app-habilidadsoftdeletemodal>
<app-habilidadsoftmodal></app-habilidadsoftmodal>