<!--Modal Experiencia plus-->
<div class="modal fade" id="experienciaplusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="experienciaplus1Modal">Experiencia</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="formFile" class="form-label">Insertar imagen de referencia</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo del Puesto</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Desarrollador">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Periodo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="00/00/0000 - 00/00/0000">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion de Tareas</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="..." ></textarea>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
</div>