.carousel-caption.d-none.d-md-block{
    background-color: rgba(255, 255, 255, 0.692);
    padding: 2rem;
    border-radius: 0.75rem;
}
.d-md-block {
    display: block!important
}
.w-100 {
    width: 100%!important;
}
.carousel-item {
    max-height: 35rem;
    height:auto;
}