<!--Modal Proyecto-->
<div class="modal fade" id="proyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="proyectoModal">Proyecto</h1>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="formFile" class="form-label">Insertar imagen de referencia</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo del Proyecto</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Portafolio">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de elaboracion</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="00/00/0000">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Link o enlace de proyecyo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="...">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>