.card{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
  .figure-img.img-fluid.rounded{
  size: 50%;
  } 
  section.about{
    background-color: rgb(2, 171, 168);
  }
  .container.text-center{
    display:flex;
    justify-content:center;
  }
  